.classpath
bin/
.DS_Store
target/
.settings
.venv
.project
ULTIMATE_MODEL_MANAGER/.Rhistory
ULTIMATE_MODEL_MANAGER/evochecker_config.properties
ULTIMATE_MODEL_MANAGER/prism    
ULTIMATE_MODEL_MANAGER/prism-games
ULTIMATE_MODEL_MANAGER/data
ULTIMATE_MODEL_MANAGER/m2repo/*
!ULTIMATE_MODEL_MANAGER/m2repo/.gitkeep
outputs/
.vscode/
install_ultimate
